#-------------------------------------- https://github.com/m4mallu/PMChatbot ------------------------------------------#
pyrogram==2.0
TgCrypto
git+https://github.com/pyrogram/pyrogram/archive/master.zip
